/src/test/
/build
/dist

/メモ更新.spec
/別名登録.spec
/新規メモ作成.spec
/索引検索.spec
/総括作成.spec
/成果物をPDF化.spec

/exe/resources/excel/総括作成用設定ファイル.xlsx
/exe/output/学習メモ総括.xlsx
/exe/output/学習メモ総括bkp.xlsx

/exe/メモ更新.exe
/exe/別名登録.exe
/exe/新規メモ作成.exe
/exe/索引検索.exe
/exe/総括作成.exe
/exe/成果物をPDF化.exe
